* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    margin: 0;
}

body {
    margin: 0 5px;
}

/*dit is het begin van de header*/
header {
    background-color: pink;
    font-weight: bold;
    height: 70px;
}

header img {
    float: right;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

header a {
    text-decoration: none;
    color: black;
    padding: 0 20px;
    position: relative;
    top: 35px;
    font-size: 20px;
}
/*dit is het einde van de header*/

/*dit is het begin van de home-page*/
h1.home {
    margin: 15px 0 15px 10px;
    font-weight: bold;
    width: 60%;
    position: relative;
}

article.articlehome {
    margin: 0;
    float: left;
    position: relative;
    font-family: sans-serif;
    width: 33.3%;
}

article.articlehome:not(:last-child) {
    padding-right: 20px;
}

div.body img {
    margin: 0;
    width: 100%;
}
/*dit is het einde van de home-page*/

/*dit is het begin van de contact pagina*/
.persoonsgegevens {
    width: 50%;
    text-align: right;
    float: right;
    position: relative;
    margin-right: 15px;

}

.maps {
    width: 45%;
}

.formulier {
    width: 30%;
    padding: 2px;
}

label {
    float: left;
}

input {
    float: right;
}

textarea {
    float: right;
}

iframe {
    float: left;
}
/*dit is hte einde van de contact pagina*/

/*dit is het begin van de footer*/
footer {
    height: 200px;
    background-color: darkgray;
    float: left;
    width: 100%;
}

footer a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

footer ul {
    list-style-type: none;
    width: 50%;
    margin: 0;
    position: relative;
    float: left;
}

footer img {
    float: right;
    position: relative;
    padding-right: 20px;
}

div.footer {
    margin-left: 15px;
}
/*dit is het einde van de footer*/