* {
    padding: 0;
    margin: 0 5px;
}

div.header {
    background-color: pink;
    font-weight: bold;
    height: 70px;
}

div.header a {
    text-decoration: none;
    color: black;
    padding: 0 20px;
    position: relative;
    top: 50px;
}

p {
    font-family: sans-serif;
}

div.footer {
    background-color: darkgray;
}