* {
    padding: 0;
    margin: 0 5px;
    box-sizing: border-box;
}

div.header {
    background-color: pink;
    font-weight: bold;
    height: 70px;
}

div.header a {
    text-decoration: none;
    color: black;
    padding: 0 20px;
    position: relative;
    top: 35px;
    font-size: 20px;
}

div.body {

}

h1 {
    margin: 15px 10px;
    font-weight: bold;
}

article {
    margin: 0;
    float: left;
    position: relative;
    font-family: sans-serif;
    width: 33.3%;
}

article:not(:last-child) {
    padding-right: 20px;
}

div.body img {
    margin: 0;
    width: 100%;
}

footer {
    height: 200px;
    background-color: darkgray;
}