/*dit is het begin van de home-page*/
body.body-home {
    margin: 0 15px;
}

h1.home {
    margin: 15px 0 15px 10px;
    font-weight: bold;
    width: 60%;
    position: relative;
}

article.articlehome {
    margin: 0;
    float: left;
    position: relative;
    font-family: sans-serif;
}

article.articlehome:not(:last-child) {
    padding-right: 20px;
}

div.body img {
    margin: 0;
    width: 100%;
}

@media all and (min-width: 550px) {
    article.articlehome {
        width: 33.3%;
    }
}
/*dit is het einde van de home-page*/