.basis {
    position: relative;
    margin-left: 15px;
    float: left;
    font-family: sans-serif;
}

.boerenkool, .nasi, .lasange {
    margin-left: 15px;
    width: 100%;
}

.recept1, .recept2, .recept3{
    display: block;
    margin-left: 15px;
    font-family: sans-serif;
    position: relative;
}

p {
    position: relative;
    width: 45%;
    float: left;
}

.basis img {
    position: relative;
    clear: left;
    padding-left: 100px;
}

.pictures {
    position: relative;
    display: block;
    float: right;
    width: 50%;
    margin-right: 15px;
}

.pictures img {
    width: 100%;
}
