header {
    width: 100%;
    background-color: hotpink;
    font-weight: bold;
    display: flex;
}

header img {
    height: 68px;
    width: 100px;
    align-self: center;
    order: 2;
    margin-left: auto;
    margin-right: 10px;
}

header a {
    text-decoration: none;
    color: black;
    padding: 0 6px;
    position: relative;
    font-size: 20px;
    align-self: flex-end;
}

header ul {
    list-style-type: none;
    width: 100%;
}

header li {
    border-top: 1px solid white;
}

@media all and (min-width: 550px) {
    header li {
        display: inline;
        border: none;
        align-self: flex-end;
    }
    header {
        height: 100px;
    }
    header ul {
        display: flex;
    }
}

@media all and (min-width: 920px) {
    header ul {
        margin-top: 20px;
    }
    header li {
        padding-right: 20px;
    }
}

footer {
    height: 200px;
    background-color: darkgray;
    float: left;
    width: 100%;
}

footer a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

footer ul {
    list-style-type: none;
    width: 50%;
    margin: 0;
    position: relative;
    float: left;
}

footer img {
    float: right;
    position: relative;
    padding-right: 20px;
}

div.footer {
    margin-left: 15px;
}