div#grid {
    margin-left: 20px;
    position: relative;
    box-sizing: border-box;
}

div#grid img {
    width: 200px;
    height: 150px;
}

#wrapper {
    font-family: sans-serif;
    margin: 0 15px 0 15px
}

#pictures img{
    box-sizing: border-box;
}

h1.sport {
    margin-left: 50px;
    margin-bottom: 30px;
}

#titel{
    width: 100%;
    display: block;
    margin-top: 15px;
}

#vereniging{
    margin: 10px 20px;
    display: block;
    /*width: 75%;*/
    float: left;
}

p.tekst{
    float: right;
    position: relative;
    width: 100%;
}

div.foto {
    width: 50%;
}

article:not(last-child) {
    float: left;
}

#tekstArea{
    width: 100%;
}

#pictures{
    width: 100%;
}

.picture{
    max-width: 100%;
    position: relative;
    vertical-align: middle;
    height: 200px;
    width: 250px;
    object-fit:fill;
}

.pictureSize {
    position: relative;
}

@media all and (min-width: 550px){
    #pictures{
        width:100%;
        float: left;
    }

    #tekstArea{
        width: 100%;
        float: right;
    }

    .pictureSize{
        width: 45%;
        height: auto;
        min-height: 100%;
        overflow: hidden;
        position: relative;
        display: inline-block;
    }
    #vereniging {
        display: grid;
        grid-template-areas:
        'verenegingtitel verenegingtitel'
        'vereneging1 vereneging2'
        'vereneging3 vereneging3';
        grid-auto-columns: 50%;
        text-align: center;
        grid-gap: 30px;
    }
    #verenigingtitel { grid-area: verenegingtitel; }
    #handbal-vereneging { grid-area: vereneging3; }
    #jiujitsu-vereneging { grid-area: vereneging2; }
    #mma-vereneging { grid-area: vereneging1; }
}

@media all and (min-width: 800px){

    #pictures{
        width: 65%;
        float: left;
    }

    #tekstArea{
        width: 30%;
        float: right;
    }

    .pictureSize{
        width: 45%;
        height: auto;
        min-height: 100%;
        overflow: hidden;
        position: relative;
        display: inline-block;
    }

    p.tekst {
        width: 130%;
    }

    #vereniging {
        display: grid;
        grid-template-areas:
        'verenegingtitel verenegingtitel verenegingtitel'
        'vereneging1 vereneging2 vereneging3';
        grid-auto-columns: 33.3333%;
        text-align: center;
        grid-gap: 30px;
    }
    #verenigingtitel { grid-area: verenegingtitel; }
    #handbal-vereneging { grid-area: vereneging3; }
    #jiujitsu-vereneging { grid-area: vereneging2; }
    #mma-vereneging { grid-area: vereneging1; }
}

@media all and (min-width: 1200px) {

    #pictures{
        width: 65%;
        float: left;
    }

    #tekstArea{
        width: 30%;
        float: right;
    }

    .pictureSize{
        width: 30%;
        height: auto;
        min-height: 100%;
        overflow: hidden;
        position: relative;
        display: inline-block;
    }

    p.tekst {
        width: 130%;
    }
}